<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PortTypeEndpoint1Binding" />
                <binding name="PortType1Endpoint1Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://qa04.sims.slb.com:10855/001802.O_USShippingPaper-WERCS.NET_TMSNAM_WCShipment" binding="basicHttpBinding" bindingConfiguration="PortTypeEndpoint1Binding" contract="OpenTMSServiceReference.PortType" name="PortTypeEndpoint1" />
            <endpoint address="http://qa04.sims.slb.com:10855/001801.O_USShippingPaper-WERCS.NET_TMSNAM_ODShipmentQry" binding="basicHttpBinding" bindingConfiguration="PortType1Endpoint1Binding" contract="ShipmentStopServiceReference.PortType1" name="PortType1Endpoint1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>