
@{
    ViewBag.Title = "CreatePickUpList";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row rowMargin searchLabelRow">
    <div class="col-md-4">
        <div class=""><span class="searchLabel">Administration - Pickup Lists</span></div>
    </div>
    <div class="col-md-4" align="center">
        <div class=""><span class="time-out-label">Timeout after <span class="timeLimit">XX:XX</span> min of inactivity</span></div>
    </div>
    <div class="col-md-4">
        <div class="pull-right"><span class="mandatory-field-label"><span class="mandatory">*</span>Mandatory field</span></div>
    </div>
</div>
<div class="row rowMargin rowBorder ">
    <div class="row rowMargin row-margin-top row-margin-bottom">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group inputMarginbottom">
                        <div class=""><span class="txtlabel">List</span></div>
                        <div class="">
                            <select class="form-control inputHeightWidth" id="" name="">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=""><span class="txtlabel">Value</span></div>
                    <div class=""><input class="form-control inputHeightWidth" id="" name="" type="text"></div>
                </div>
                <div class="col-md-3">
                    <div class=""><span class="txtlabel">Sort Order</span></div>
                    <div class=""><input class="form-control inputHeightWidth" id="" name="" type="text"></div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
<div class="row rowMargin row-margin-top">
    <div class="col-md-12 inputMarginbottom input-margin-top" align="center">
        <button type="button" class="btn btn-primary btn-sm btn-submit">Create</button>
        <button type="button" class="btn btn-default btn-sm btn-reset">Reset</button>
        <button type="button" class="btn btn-default btn-sm btn-reset">Cancel</button>
    </div>
</div>

